
body {
    background-color: rgb(200,200,200);
    color: #ffcc00;
    font-family: Courier New, monospace;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
  font-family: Courier New, monospace;
	text-align: center;
}

footer {
	font-style: bold;
	font-family: Courier New, monospace;
	font-size: 90%;
}

